* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../images/geometry2.png');
}

header {
    text-align: center;
    padding-top: 10px;
    font-size: 16px;
}

header label {
    margin-right: 10px;
    font-weight: bold;
}

.table3 {
    position: absolute;
    top: 6%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 300px;
    padding: 15px 0 0 10px;
    border-radius: 8px;
    background-color: #42abbf;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    overflow: hidden;
}

.card3 {
    float: left;
    width: 62px;
    height: 62px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s ease-in-out;
}

.table2 {
    position: absolute;
    top: 6%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 300px;
    padding: 15px 0 0 10px;
    border-radius: 8px;
    background-color: #42abbf;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    overflow: hidden;
}

.card2 {
    float: left;
    width: 62px;
    height: 62px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s ease-in-out;
}

.front {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #2e3d49;
}

.back {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #439992;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.back i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: rgb(82, 243, 235);
}

@media screen and (min-width: 378px) {
    .table, .table2 {
        width: 378px;
        padding: 25px 0 0 18px;
    }
    .card, .card2 {
        width: 72px;
        height: 72px;
        margin-right: 18px;
        margin-bottom: 18px;
    }
    .back i {
        font-size: 28px;
    }
}

@media screen and (min-width: 550px) {
    .table, .table2 {
        width: 470px;
        padding: 28px 0 0 22px;
    }
    .card, .card2 {
        width: 90px;
        height: 90px;
        margin-right: 22px;
        margin-bottom: 22px;
    }
    .back i {
        font-size: 33px;
    }
}

@media screen and (min-width: 694px) {
    .table3 {
        width: 694px;
        padding: 32px 0 0 22px;
    }
    .card3 {
        width: 90px;
        height: 90px;
        margin-right: 22px;
        margin-bottom: 22px;
    }
    .table2 {
        width: 525px;
        padding: 32px 0 0 22px;
    }
    .card2 {
        width: 103px;
        height: 103px;
        margin-right: 22px;
    }
    .back i {
        font-size: 37px;
    }
}

@media screen and (min-width: 860px) {
    header {
        font-size: 18px;
    }
    .table3 {
        width: 860px;
        padding: 35px 0 0 27px;
    }
    .card3 {
        width: 110px;
        height: 110px;
        margin-right: 27px;
        margin-bottom: 27px;
    }
    .back i {
        font-size: 40px;
    }
}